:root {
    /* FIRST PALLET */
    --font-body: "Nunito", sans-serif;
    --font-heading: "Bebas Neue", serif;
    --a-primary-color: #e7b324;
    /* --a-primary-color: #e05215; */
    --a-secondary-color: #2d3142;
    --a-white-color: #ffffff;
    --a-background-color: #bfc0c0;
    --a-auxiliar-color: #4f5d75;

    /* secondary pallet  */
    --b-primary-color: #F6C279;
    --b-secondary-color: #161B33;
    --b-white-color: #DBDBDB;
    --b-background-color: #0D0C1D;
    --b-auxiliar-color: #36d830;



    /* input type radio */

    --accent: #007ecc;
    --accent-2: #ec2f4b;
    --text: #003f66;
    --text-hover: var(--accent);
    --text-active: #ffffff;
    --border-width: 0.125em;

}



/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


body {
    font-family: var(--font-body);
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 2.3vw, 1.5rem);
}







/*----------- MAIN --------------*/
main {
    padding: 2rem 2%;

}

/*----------- FORM --------------*/


.required-element {
    color: rgb(128, 29, 29);
}

.wf1 {

    background-color: #928f8f47;
    max-width: 500px;
    margin: 2.5rem auto;
    border-radius: 8px;
    padding: .5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 6px 2px 2px rgba(0, 0, 0, 0.192), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
}

.wf1 fieldset {
    margin: 1rem auto;
    border: none;
    border-radius: 6px;
    padding: .5rem 2%;

}

.wf1 legend {
    color: var(--b-background-color);
    font-family: var(--font-heading);
    align-items: center;
    align-content: center;


}

.wf1 label {
    padding-left: .75rem;
    display: block;
    font-size: .9rem;
    align-items: center;
    align-content: center;
    padding: 0.5rem 0;
}

.wf1 div {

    padding-bottom: .75rem;
    font-size: .95rem;
}

.div-label-input {

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 input[type="number"],
.wf1 select {
    background-color: var(--a-white-color);
    align-content: start;
    border: solid 1px var(--a-secondary-color);
    border-radius: 6px;
    padding: .75rem;
    color: var(--a-secondary-color);
    width: 80%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"] {
    margin-right: 8px;

}


.wf1 input[type="submit"] {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    font-family: var(--font-heading);
    border: none;
    background-image: linear-gradient(var(--a-primary-color), var(--a-primary-color));
    color: var(--a-secondary-color);
    padding: .5rem;
    width: 100%;
    max-width: 100%;
    border-radius: 6px;
    text-align: center;
    transition: 0.2s;
}

.wf1 input[type="submit"]:hover {
    cursor: pointer;
    border: initial;
    background-image: radial-gradient(#e7b324, #be9112dc);
    color: var(--b-background-color);
    transform: scale(1.02);

}

.wf1 input:required {
    border-bottom: solid 3px red;
    transition: 0.3s;
}

.wf1 input:required:valid {
    border-bottom: solid 3px var(--b-auxiliar-color);
    transition: 0.3s;
}

p {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;

}


/* form.css */
.form-hidden {
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.form-visible {
    opacity: 1;
    transform: translateY(0);
}


.add-btn,
.delete-btn {

    border: none;
    background-color: #161b3300;
    transition: 0.3s ease-out;
}





.new-service img {
    width: 50px;
    height: 50px;
    transition: 0.3s ease-out;


}

.delete-btn img {
    height: initial;
    width: initial;
}

.new-service img:hover,
.delete-btn:hover {
    transform: scale(1.09);
    cursor: pointer;
    color: var(--a-primary-color);
}



.container-delete-btn {
    border-bottom: 1px solid #2d314259;
    height: 30px;
    text-align: right;
    padding-right: 1.25rem;

}

/* Cotiza */
.color {
    display: flex;

}

.color-option {
    width: 30px;
    height: 20px;
    border: 1px solid rgb(187, 179, 179);
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;

}

#color-blanco {

    background-color: var(--a-white-color);
}

#color-madera {

    background-color: #A0522D;
}

#color-mate {

    background-color: #B0B0B0;
}

#color-negro,
.color-negro {

    background-color: black;
}

#color-titanio {

    background-color: #8C8C8C;
}


.fieldset-block-color {
    display: block;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;

}


/* input type radio  */



.hidden-toggles {
    position: relative;
    border-radius: 999em;
    overflow: hidden;
    height: 2.75em;
    width: 20em;
    display: flex;
    flex-direction: row;
}

.hidden-toggles>* {
    flex: 1 1 33.33%;
}

.hidden-toggles:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: var(--border-width) solid var(--accent);
    border-radius: 999em;
    pointer-events: none;
}

.hidden-toggles__input {
    display: none;
}

.hidden-toggles__input:checked+.hidden-toggles__label {
    background-color: var(--accent);
    color: var(--text-active);
}

.hidden-toggles__input:checked+.hidden-toggles__label:before {
    opacity: 1;
}


/* 
.hidden-toggles__input:nth-of-type(1)+label {
    order: 5;
}

.hidden-toggles__input:nth-of-type(2)+label {
    order: 4;
}

.hidden-toggles__input:nth-of-type(3)+label {
    order: 3;
}

.hidden-toggles__input:nth-of-type(4)+label {
    order: 2;
}

.hidden-toggles__input:nth-of-type(5)+label {
    order: 1;
}

.hidden-toggles__input:nth-of-type(1):checked~label:last-of-type,
.hidden-toggles__input:nth-of-type(2):checked~label:last-of-type {
    margin-right: -33.33%;
} */

.hidden-toggles__label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-out;
    color: var(--text);
}

.hidden-toggles__label:hover {
    color: var(--text-hover);
}

.hidden-toggles__label {
    /* border-left: var(--border-width) solid var(--accent); */
    border-right: var(--border-width) solid var(--accent);
}
