:root {

    /* FIRST PALLET */
    --font-body: "Nunito", sans-serif;
    --font-heading: "Bebas Neue", serif;
    --a-primary-color: #e7b324;
    /* --a-primary-color: #e05215; */
    --a-secondary-color: #2d3142;
    --a-white-color: #ffffff;
    --a-background-color: #bfc0c0;
    --a-auxiliar-color: #4f5d75;

    /* secondary pallet  */
    --b-primary-color: #F6C279;
    --b-secondary-color: #161B33;
    --b-white-color: #DBDBDB;
    --b-background-color: #0D0C1D;
    --b-auxiliar-color: #36d830;
    /* --b-auxiliar-color: #52B77C; */

}


html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- MAIN --------------*/
main {
    padding: 2rem 2%;

}



.delete-btn {
    border: none;
    background-color: #cacaca00;
    transition: 0.07s all;
}

.delete-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}


input:required {
    border-bottom: solid 3px red;
    transition: 0.3s;
}

input:required:valid {
    border-bottom: solid 3px var(--b-auxiliar-color);
    transition: 0.3s;
}

.quote-instructions {
    margin: 2rem 1rem 1rem 1rem;
    padding: 0, 5rem;
}

.quote-instructions ol {
    margin-left: 2rem;
    transform: scale(0.7);
}

.quote-instructions ol li {
    font-style: italic;
}



table {
    font-size: clamp(.8rem, 1vw, 1.2rem);
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;


}

table caption {
    font-size: 1.1em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    /* border: 1px solid #ddd; */
    padding: .35em;
}

table th,
table td {
    padding: .5rem;
    text-align: center;
    border: 1px solid var(--a-secondary-color);
}

table th {
    letter-spacing: .05em;
    text-transform: uppercase;
}



tr {
    border: 1px solid var(--a-secondary-color);
}

tbody tr:nth-child(even) {
    background-color: #e7e5e5;
}


input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="number"] {
    background-color: var(--a-white-color);
    align-content: center;
    border: solid 1px var(--a-secondary-color);
    border-radius: 6px;
    padding: .75rem;
    color: var(--a-secondary-color);
    width: 100%;

    appearance: none;
}


input[type="number"] {

    font-size: clamp(.6rem, .7vw, 1rem);
}



/* SELECT PERSONALIZADO */

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    text-align: center;
    justify-self: end;
    width: 100%;
    border-radius: 5px;

}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    border-radius: 5px;
    background-color: var(--a-auxiliar-color);

}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 40%;
    right: 8px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--a-primary-color) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--a-primary-color) transparent;
    top: 30%;

}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: var(--a-white-color);
    /* width: 100%; */
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;

}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: var(--a-auxiliar-color);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 5px;

}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.3);
}






.container-add-btn {

    text-align: end;
    padding: .25rem;
    margin-bottom: 5rem;
}

#add-btn {
    border: none;
    transition: all 0.1s;
    background-color: rgba(255, 255, 255, 0);

}

#add-btn:hover {
    cursor: pointer;
    transform: scale(1.1);

}

#add-btn img {
    width: 38px;
    height: 38px;
}


.text-alt {
    color: #4f5d75;
    transform: scale(0.8);
    font-style: italic;
}

.text-alt:hover {
    cursor: not-allowed;
}


.total-container {
    text-align: right;
}


.button-41 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #00D775, #00BD68);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 10rem;
    z-index: 9;
    border: 0;

}

.button-41-container {
    text-align: right;
}

.button-41:hover {
    background: #00bd68;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;

    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {

        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;

    }

    table td {

        border-bottom: 1px solid white;
        /* display: block; */
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: right;
    }

    table p {
        margin: initial;
        padding: initial;
    }

    table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        display: inline-block;
        width: auto;
        /* float: left; */
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;

    }

    table td:last-child {
        border-bottom: 0;
    }

    .custom-select {
        width: 45%;
    }

    /* input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="url"],
    input[type="date"],
    input[type="number"] {
        width: 50%;

    } */

    input[type="number"] {
        width: 50%;
        align-content: center;
        text-align: center;
        font-size: clamp(.6rem, .7vw, 1rem);
    }


    .quote-instructions {
        margin: initial;
        padding: .5rem;
    }

    .quote-instructions ol {
        margin: initial;
        margin-left: 0.9rem;
        transform: scale(0.8);
    }



}