* {
    margin: 0;
    padding: 0;
}


header,
footer {
    background-color: rgb(85, 0, 128);
    color: white;
    text-align: center;


}

h1 {
    font-size: clamp(1.4rem, 2vw, 3rem);

}


header {

    justify-content: space-between;
    padding: 0.75rem;

    align-items: center;

}

nav ul {

    list-style: none;
    display: none;
    flex-direction: column;

}

li {

    margin: 0.25rem;

}

.open ul {
    display: block;
}


nav a {

    width: 97%;
    margin: 0.75rem auto;
    padding: 0.3rem 0.3rem;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    color: white;
}

/* nav a:hover {
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
} */



main {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}


#menu {
    font-size: 1rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {


    content: "x";
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    color: rgb(239, 162, 162);
    font-size: 24px;
    font-weight: bold;


}