:root {
    /* FIRST PALLET */
    --font-body: "Nunito", sans-serif;
    --font-heading: "Bebas Neue", serif;
    --a-primary-color: #e7b324;
    /* --a-primary-color: #e05215; */
    --a-secondary-color: #2d3142;
    --a-white-color: #ffffff;
    --a-background-color: #bfc0c0;
    --a-auxiliar-color: #4f5d75;

    /* secondary pallet  */
    --b-primary-color: #F6C279;
    --b-secondary-color: #161B33;
    --b-white-color: #DBDBDB;
    --b-background-color: #0D0C1D;
    --b-auxiliar-color: #36d830;
    /* --b-auxiliar-color: #52B77C; */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font-body);
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.25rem, 1.4vw, 1.5rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.cta-btn {

    font-family: var(--font-heading);
    font-weight: 400;
    font-style: normal;

}

.heading-2 {

    font-family: var(--font-heading);
    font-weight: 400;
    font-size: clamp(2rem, 4vw, 4rem);
    font-style: normal;

}

header {
    background-color: var(--a-white-color);
    color: var(--a-auxiliar-color);
    text-align: center;

}

h1 {
    font-size: clamp(1.6rem, 3vw, 4rem);
    color: var(--a-auxiliar-color);
    text-align: center;
}

header {

    justify-content: space-between;
    padding: 0.75rem;

    align-items: center;
    /* border-bottom: 0.3rem solid var(--a-primary-color); */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    z-index: 99;

}

header #menu {
    font-size: 1rem;
    border: 0;
    background: none;
    color: var(--a-auxiliar-color);
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
    transition: 0.1s ease-in;
    padding-right: 0.5rem;
    font-size: 20px;
}

#menu.open::before {


    content: "x";
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    color: var(--a-primary-color);
    font-size: 24px;
    font-weight: bold;
    transition: 0.1s ease-in;


}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;

}



.open ul {
    display: flex;
    margin-top: 0.25rem;


}

nav li {
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    transition: 0.2s;
    color: var(--a-auxiliar-color);
    border-radius: 3px;

}



nav li:hover {
    background-color: var(--a-secondary-color);
}

nav li:hover a,
nav ul li:first-of-type a:hover {
    color: var(--a-white-color);
}

nav a {
    font-size: clamp(1.4rem, 2.1vw, 1.4rem);
    padding: 0.2rem;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    color: var(--a-auxiliar-color);

}


.active {
    background-color: var(--a-secondary-color);
    transition: 0.2s;
}

.active a {
    color: var(--a-primary-color);
}

/* HERO ELEMENT */

.hero {
    background-image: url("../images/hero-large.webp");
    width: 100%;
    height: 101vh;
    color: var(--a-white-color);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    


}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.5);

}

.hero h2 {
    font-size: clamp(2rem, 5vw, 9rem);
    text-align: center;
    color: var(--a-white-color);

}

.hero .hero-content .hero-text {

    text-align: center;
    max-width: 75%;
    margin: 1.25rem auto;
}

.hero .hero-content .hero-text h3 {

    font-family: var(--font-body);
    font-size: clamp(1rem, 2vw, 3rem);
    color: var(--a-white-color);
}

.hero-button {
    text-align: center;
    margin-bottom: 1rem;
}

.cta-btn {
    width: 50%;
    height: auto;
    padding: .6rem 1.3rem;
    background-color: var(--a-white-color);
    color: var(--a-secondary-color);
    font-size: clamp(1rem, 3.5vh, 4rem);
    font-weight: 400;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgb(231, 179, 36, 0.5);
    transition: all 0.3s ease-in-out;
    animation: heartbeat-cta 7.5s infinite;

}

.cta-btn span {
    color: var(--b-auxiliar-color);
    transition: 0.2s;
}

.cta-btn:hover span {
    color: var(--a-primary-color);

}

.cta-btn:hover {
    cursor: pointer;
    background-color: var(--a-secondary-color);
    color: var(--a-white-color);
    transform: scale(1.05);
    box-shadow: 0 5px 6px rgba(255, 255, 255, 0.7);
    animation: none;

}

main .Whatsapp-floating-chat {
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    transition: 0.2s;
    animation: heartbeat 7.5s infinite;

}

.Whatsapp-floating-chat:hover {
    transform: scale(1.2);
    animation: none;
}


/* main */


main {
    max-width: 100%;
    margin: 0 auto;
    z-index: -1;

}


main h2,
main h3,
main h4,
.heading-2,
h1 {
    color: var(--a-auxiliar-color);
    margin: 0.2rem;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3),
        0px 18px 13px rgba(0, 0, 0, 0.1),
        0px 18px 3px rgba(0, 0, 0, 0.01);
}


main section .svg-icon {
    min-width: 48px;
    max-width: 88px;
    width: 80px;
    width: 18%;
}

.svg-icon-phone {
    width: clamp(1.25rem, 1.9vw, 1.5rem);
    ;
    height: clamp(1.25rem, 1.9vw, 1.5rem);
    vertical-align: middle;


}

main ul {

    list-style: none;
}

main ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}

main ul li img {
    margin-right: 0.5rem;

}

.heading-span {
    color: var(--a-primary-color);
}

main section:not(.hero) {
    max-width: 90%;
    margin: 4rem auto;
    display: grid;
    text-align: center;
}

figure {
    max-width: 40%;
    margin: 1rem auto;
}

figure img {
    max-width: 100%;
    height: auto;
}

main .section1-svg-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main .section1-svg-icons,
.main-section-2-div ul,
h1 {
    margin: 2rem 0 2rem 0;
}


.main-section-2-div ul li img {

    width: 100%;
    height: auto;

}

.main-section-2-div ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.main-section-2-div p {
    text-align: center;
}

.main-section-2-div ul li {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-bottom: 0.75rem;

}

.container-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

main section:nth-child(2) {
    display: grid;
    gap: 2rem;

}


main section:nth-child(2) .services img {
    width: 30px;
    height: 30px;
}


main section:nth-child(3) {
    display: grid;
    gap: 1rem;

}

main section:nth-child(3) #truck {
    width: 160px;
    height: 160px;

}


.linea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    color: var(--a-background-color);
    font-style: italic;
    font-size: 70%;
    grid-auto-flow: row;
    margin: 2.5rem 0;
    background-color: var(--a-auxiliar-color);
    border-radius: 5px;

}

.linea li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* Ajustar el alto para que se vea el centrado vertical */
    text-align: center;
}



p {
    padding-left: .75rem .5rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
}


.section5-cto {
    background-color: var(--a-auxiliar-color);
    color: var(--a-white-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
}


.section5-cto div {
    text-align: center;
    align-items: center;
    align-content: center;
    padding: .5rem;
    font-size: calc(clamp(1.25rem, 1.9vw, 1.5rem) * 0.8);


}


.section5-cto a {
    background-color: var(--a-primary-color);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
    padding: 0.25rem;
}

.section5-cto a:link,
.section5-cto a:visited {
    color: var(--b-background-color);

}


.section5-cto a:hover {
    background-color: var(--a-white-color);
    /* Estilo cuando el usuario pasa el cursor */
}

.section5-cto a:active {
    color: orange;
    /* Estilo durante el clic */
}

.section5-cto a:focus {
    outline: 2px solid #ff0;
    /* Estilo cuando está enfocado */
}



main section:nth-child(3)>div:nth-child(4),
main section:nth-child(3)>div:nth-child(5) {
    margin: 3rem 0;

}

main section:nth-child(3)>div:nth-child(4) {
    text-align: center;

    background-color: var(--a-auxiliar-color);
    color: var(--a-white-color);
    border-radius: 5px
}

main section:nth-child(3)>div:nth-child(5) {
    display: grid;
    column-gap: 0.5rem;
}


main section:nth-child(3)>div:nth-child(5) .cta-btn {
    margin-top: 1rem;
    max-width: 40%;
}

.img-gallery {

    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: grid;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
}

.img-gallery img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

main section:nth-child(3)>div:nth-child(4) h3 {
    text-align: center;
    color: var(--a-background-color);
    font-size: clamp(1.5rem, 3vw, 4rem);
}

main section:not(.hero),
main section:nth-child(3)>div:nth-child(4) p {
    text-align: center;

}

main section:nth-child(6) {
    display: grid;
}


main section:nth-child(6) img {
    width: 100%;
    height: auto;
}

main section:nth-child(6) div {
    padding: 1rem;
}

/* carrusel */


.mySlides {
    display: none;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    background-color: var(--a-secondary-color);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 380px;
}


.slideshow-container img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    max-width: 800px;

    max-height: 600px;
    object-fit: cover;

}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--a-white-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    display: none;
}

/* Position the "next button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev:active,
.next:active {
    background-color: rgba(0, 0, 0, 0);
}

/* Caption text */
.text {
    color: var(--a-white-color);
    background-color: #161b338f;
    font-size: 16px;
    padding: 4px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
    color: var(--a-white-color);
    background-color: #161b3365;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--a-secondary-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot,
.dot:hover {
    background-color: var(--a-primary-color);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}




/* section 4 ventanas y ventanales */


.all-services ul li {
    display: flex;
    flex-direction: column;

    transform: scale(0.7);
    background-color: var(--a-auxiliar-color);
    color: white;
    border-radius: 8px;
    padding: 0.75rem;


}

.all-services ul li {
    display: flex;
    flex-direction: column;
    transform: scale(0.7);
    background-color: var(--a-auxiliar-color);
    color: var(--a-background-color);
    border-radius: 8px;
    padding: 0.75rem;


}

.all-services ul li div:first-child {
    color: var(--a-white-color);
    font-weight: 700;
}





/* FOOTER */

footer {
    display: grid;

    background-color: var(--a-secondary-color);
    color: var(--a-white-color);
}

footer p {
    text-align: center;
    font-size: calc(clamp(1.25rem, 1.9vw, 1.5rem) * 0.8);
}

footer div {
    padding: 0.5rem;
    margin: 0.2rem 0;
}

footer h3,
h4 {
    text-align: center;
    color: var(--a-primary-color);
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}


footer ul {
    list-style: none;
    justify-content: center;
}

footer a {

    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    color: var(--a-white-color);
}

footer a:hover {
    color: var(--a-primary-color);
}



footer ul:not(.footer-menu) {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    gap: 0.75rem;
}

.footer-social-media li {
    transition: 0.2s;
}

.footer-social-media li:hover {
    transform: scale(1.2);
}


.footer-contact p {
    text-align: center;
    margin: 0.5rem;
}


.footer-dev {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}




/* Inersection Observer Object: */

/* 1*/
.hidden {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.hidden-content {
    opacity: 0;
    transform: translateX(-100px) scale(1);
    transition: opacity 1s ease-in, transform 1s ease-in;
}

.visible-content {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition-delay: 0.3s;
}





/* tooltips */


.tooltip {
    position: relative;
    cursor: pointer;

}

.tooltip img {
    width: 22px;
    height: 22px;
}

.tooltip-text {
    visibility: hidden;
    width: 220px;
    max-width: 280px;
    background-color: #333333da;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 40%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip.active .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* animations */


@keyframes heartbeat {

    0%,
    8% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.1);
    }

}


@keyframes heartbeat-cta {

    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    22% {
        transform: scale(1.05);
    }

    26% {
        transform: scale(1);
    }

}